<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Ninja Gold</title>

    {% load static %} 
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>

    <body>
        <div class="container-flush m-3">

            <div class="row align-items-center">
                <h1 class="col text-center text-primary">
                    Ninja Gold Mini Game
                </h1>
            </div>

            {% comment %} Display our current gold. {% endcomment %}
            <div class="row p-2" id="gold">
                    Your Gold: 
                    <div class="font-weight-bold border border-dark ml-4 p-1">{{ request.session.gold_bal }}</div>

            </div>
            <a href="/reset"><button class="btn btn-danger">Reset</button></a>        
        </div>

        {% comment %} Boxes for each of the different buildings. {% endcomment %}
        <div class="container m-3">
            <div class="row m-0 p-2" >
                <div class="card m-2 p-2 col-md" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Farm</h5>
                        <p class="card-text">Earns 10-20 gold.</p>
                        <form action="/process" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="building" value="farm">
                            <button class="btn btn-primary">Find Gold!</button>
                        </form>
                    </div>
                </div>
                <div class="card m-2 p-2 col-md" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cave</h5>
                        <p class="card-text">Earns 5-10 gold.</p>
                        <form action="/process" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="building" value="cave">
                            <button class="btn btn-primary">Find Gold!</button>
                        </form>
                    </div>
                </div>
                <div class="card m-2 p-2 col-md" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">House</h5>
                        <p class="card-text">Earns 2-5 gold.</p>
                        <form action="/process" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="building" value="house">
                            <button class="btn btn-primary">Find Gold!</button>
                        </form>
                    </div>
                </div>
                <div class="card m-2 p-2 col-md" style="width: 18rem;">
                    <div class="card-body text-center">
                        <h5 class="card-title">Casino</h5>
                        <p class="card-text">Earns/Loses 0-50 gold.</p>
                        <form action="/process" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="building" value="casino">
                            <button class="btn btn-primary">Gamble Away!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} Activity log for our past actions in the game. {% endcomment %}
        <div class="container-flush m-3 font-weight-bold">Activities:</div>
        <div class="container-flush m-3 border border-dark p-2">
            {% for line in request.session.activities reversed %}
                <p class="{{line.result}} m-0">{{ line.msg }}</p>
            {% endfor %}
        </div>
    </body>


</html>